* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: #fff;
}
#asideSandwich {
    display: block;
    position: fixed;
    background-color: #77777780;
    top: 35%;
    width: 18px;
    height: 58px;
    transform: translateX(14em);
    border-radius: 0 6px 6px 0;
    transition: all 0.3s;
}
aside {
    display: block;
    position: fixed;
    background-color: #1B1B1B;
    width: 14em;
    height: 100dvh;
    z-index: 10;
    left: -14em;
    right: auto;
    transition: all 0.3s;
}
aside.show { left: 0; }
aside button {
    display: block;
    background-color: #333;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    text-align: left;
    z-index: 5;
    outline: none;
    border: none;
}
aside button:active {
    background-color: #444;
}
ul {
    display: none;
    background-color: #222;
}
ul.show { display: block; }
li {
    display: block;
    padding: 10px 10px 10px 20px;
}
li:active { background-color: #444; }
body { background-color: #000; }
.pcSize { display: none; }
.mobileSize { display: block; }
textarea, input {
    width: 100dvw;
    height: 70dvh;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
    font-size: 0.9em;
    caret-color: lime;
    border: none;
    outline: none;
    resize: none;
}
textarea::selection {
    color: #000;
    background-color: #fff;
}
input {
    height: 5em;
    font-size: 1.1em;
    transition: all 0.3s;
    border: 1px solid #888;
}

@media (min-width: 768px) {
    #asideSandwich { cursor: pointer; }
    button { cursor: pointer; }
    button:hover { background-color: #444; }
    li { cursor: pointer; }
    li:hover { background-color: #444; }
    .pcSize { display: block; }
    .mobileSize { display: none; }
}