* { margin: 0; padding: 0; }
#closeAside {
    display: block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #888;
    width: 16px;
    height: 54px;
    border-radius: 0 4px 4px 0;
}
#closeAside.openAside { left: 128px; }
aside {
    display: none;
    position: fixed;
    color: #fff;
    background-color: #333;
    width: fit-content;
    height: 100dvh;
    z-index: 10;
}
aside.show { display: block; }
aside button {
    display: block;
    background-color: #555;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    z-index: 5;
    outline: none;
    border: none;
}
ul {
    display: none;
    background-color: #434343;
    list-style-type: disc;
}
ul.show { display: block; }
li {
    display: block;
    padding: 10px 10px 10px 20px;
}
li:hover { background-color: #555; }
body { background-color: #000; }
textarea, input {
    width: 100dvw;
    height: 70dvh;
    padding: 10px;
    font-family: Monospace;
    box-sizing: border-box;
    background: transparent;
    color: #fff;
    font-size: 0.9em;
    caret-color: lime;
    border: none;
    outline: none;
    resize: none;
}
textarea::selection {
    color: #000;
    background-color: #fff;
}
input { height: 5em; font-size: 1em; }