* { margin: 0; padding: 0; font-family: monospace; }
#closeAside {
    display: block;
    position: fixed;
    background-color: #555;
    top: 35%;
    width: 18px;
    height: 58px;
    transform: translateX(11em);
    border-radius: 0 6px 6px 0;
}
aside {
    display: block;
    position: fixed;
    color: #fff;
    background-color: #333;
    width: 11em;
    height: 100dvh;
    z-index: 10;
    transform: translateX(-11em);
    transition: all 0.3s;
}
aside.show { transform: translateX(0); }
aside button {
    display: block;
    background-color: #555;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    z-index: 5;
    outline: none;
    border: none;
}
ul {
    display: none;
    background-color: #434343;
}
ul.show { display: block; }
li {
    display: block;
    padding: 10px 10px 10px 20px;
}
li:hover { background-color: #555; }
body { background-color: #000; }
.pcSize { display: none; }
.mobileSize { display: block; }
textarea, input {
    width: 100dvw;
    height: 70dvh;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
    color: #fff;
    font-size: 0.9em;
    caret-color: lime;
    border: none;
    outline: none;
    resize: none;
}
textarea::selection {
    color: #000;
    background-color: #fff;
}
input {
    height: 5em;
    font-size: 1em;
    transition: all 0.3s;
    border: 1px solid #888;
}

@media (min-width: 768px) {
    #closeAside { cursor: pointer; }
    button { cursor: pointer; }
    li { cursor: pointer; }
    .pcSize { display: block; }
    .mobileSize { display: none; }
}